<div class="container">

  <h3 class="d-flex justify-content-center">Bakery Test</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="sign-up" class="m-1 btn btn-light btn-outline-primary" Button>Sign up</button>
      </li>
      <li class="nav-item">
        <button routerLink="users" class="m-1 btn btn-light btn-outline-primary" Button>Users</button>
      </li>
      <li class="nav-item">
        <button routerLink="login" class="m-1 btn btn-light btn-outline-primary" Button>Login</button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>